<header class="ct-header">
  <div class="ct-container">
    <div class="ct-header-content">
      <a href="/" class="ct-logo">
        <span>
          <img src="{{ get_asset_url('../../assets/computicket-logo.png') }}" alt="Computicket Logo" class="ct-logo-img">
        </span>
      </a>

      <nav class="ct-main-nav">
        <a href="/vouchers"><i class="fa fa-shopping-bag"></i></a>
        <a href="/stay"><i class="fas fa-user"></i> Login</a>
      </nav>

      <button class="ct-mobile-menu" id="mobileMenuBtn">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
</header>
