<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home Page
-->

{% extends "./layouts/base.hubl.html" %}

{% block body %}

<!-- Experience Selector -->
<section class="ct-experience-selector">
  <div class="ct-container">
    <div class="ct-text-center">
      <h2>WHAT WOULD YOU LIKE TO EXPERIENCE?</h2>
      <div class="ct-experience-grid">

        <a href="https://146524876.hs-sites-eu1.com/event-booking" class="ct-experience-option" style="background-image: url('{{ get_asset_url('../assets/images/events.jpg') }}');">
          <button class="ct-btn ct-btn-primary">Events</button>
        </a>

        <a href="https://146524876.hs-sites-eu1.com/bus-booking" class="ct-experience-option" style="background-image: url('{{ get_asset_url('../assets/37.png') }}');">
          <button class="ct-btn ct-btn-primary">Buses</button>
        </a>

        <a href="https://146524876.hs-sites-eu1.com/flight-booking" class="ct-experience-option" style="background-image: url('{{ get_asset_url('../assets/36.png') }}');">
          <button class="ct-btn ct-btn-primary">Flights</button>
        </a>

        <a href="https://146524876.hs-sites-eu1.com/buy-voucher" class="ct-experience-option" style="background-image: url('{{ get_asset_url('../assets/35.png') }}');">
          <button class="ct-btn ct-btn-primary">Vouchers</button>
        </a>

        <a href="https://146524876.hs-sites-eu1.com/stay-booking" class="ct-experience-option" style="background-image: url('{{ get_asset_url('../assets/34.png') }}');">
          <button class="ct-btn ct-btn-primary">Stay</button>
        </a>

      </div>
    </div>
  </div>
</section>

<!-- Featured Events -->
<section class="ct-featured-events">
 
  {% include "../styles/partials/_test.hubl.html"%}

  <div class="ct-text-center ct-load-more">
    {% module "homeBunner" path="../components/modules/HomeBanner" %}
  </div>
</section>

<!-- Inject Bus Banner Partial Here -->
{% include "../styles/partials/_bus-banner.hubl.html" %} 
{% module "perfectExperience" path="../components/modules/PerfectExperience" %}
{% module "moreBenefits" path="../components/modules/MoreBenefitsSection" %}

<!-- Newsletter Section -->
<section class="ct-newsletter">
  <h2>GET THE LATEST EVENT INFO</h2>
  <p>Sign up to stay updated on the latest events, offers, and more! <a href="/signup">SIGN UP HERE</a></p>
  <form class="ct-newsletter-form">
    <input type="email" placeholder="Enter your email" required />
    <button type="submit">JOIN NOW</button>
  </form>
</section>


{% endblock %}
